/* Trees Image - Pexels: https://www.pexels.com/photo/photo-of-trees-in-forest-3801030/ */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
}


html {
    box-sizing: border-box;
  }
  
  :root {
    --column-1: #edc772;
    --column-2: #077cbc;
    --column-3: #20bd20;
    --column-4: #e92a18;
  }

  body {
    margin: 0;
    background: #d6d6d6;
    color: white;
    font-family: Quicksand, sans-serif;
    overflow-y: hidden;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }









































